
* {
margin: 0;
}

html{

}
body{
	
}
html, body {
    
    width: 100%;
    height: 100%;
    
    font: 100% Helvetica,Arial,sans-serif;
}
h1{

}
.page{

    margin: 0px auto;
        margin-top: 0px;
        margin-right-value: auto;
        margin-bottom: 0px;
        margin-left-value: auto;
        margin-left-ltr-source: physical;
        margin-left-rtl-source: physical;
        margin-right-ltr-source: physical;
        margin-right-rtl-source: physical;
    width: 93.75%;

}

/*.page{
	
	margin: 40px auto;

	max-width: 55.75em;
}
*/
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -6em;
	}

 footer, .push {

	height: 6em;
    clear: both;


}

header {

    text-align:center;

}
.colorbar{
	z-index: 100;
}

div .contentid{

	border:2px solid;
	border-radius:25px;
	box-shadow: 10px 10px 5px #888888;

}
a:link,a:visited {	
	font-weight:bold;
	color:#000000;
	
	
	
	text-decoration:none;
	text-transform:uppercase;
}

a:hover,a:active {
	background-color:#585858;
}
table {
	margin-left: auto ;  
	margin-right: auto;
}
ul {
	list-style-type:none;
	
}

/*.main article {
	
	background-color:#EEEEEE;
	margin-lef;t: auto ;
	margin-right: auto 
}*/
.bruleImg {
	
}
footer 
{

	width:100%;
	margin:auto;
	color:#909090;
	font-size:11px;
	text-align:center;
	
}
#footerAbout {
	word-spacing:6px;
	font-size:10px;
	float:right;
	text-align:right;
	
}
.clear-div{
	clear:both;
}